                    /********** bootstrap **********/
body {
    width: 100%;
    height: 100%;
    color: #ffffff;
    font-family: 'Arial', sans-serif;
    background-image: url("/images/jap_city.png");
    
}

.search-bar {
    border-radius: 6px;
    padding-left: 15px;
    width: 85%;
}

.menu-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.event-card {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 15px;
    border-radius: 10px;
    margin-bottom: 10px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
}

.btn-see-all {
    background-color: #008CFF;
    color: white;
    border: none;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.minuteur {
    font-size: 2.2rem;
    font-weight: bold;
    margin-bottom: 10px;
    
}
.text-center {
border: none;
border-radius: 10px;
margin-top: var(--padding-xs);
background-color: rgba(0,0,0,0.7);
}
.text-uppercase{
    color: #F7BA4B;
}

.btn-start {
    background-color: #00C851;
    color: white;
    border: none;
    padding: 10px 20px;
    width: 96%;
}

.bottom-icons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.icon-box {
    display: flex;
    justify-content: space-between;
    background-color: #1f1f1f;
    padding: 20px 100px;
    border-radius: 10px;
    flex: 1;
    text-align: center;
    
    
}

.icon-box:not(:last-child) {
    margin-right: 10px;
}

.icon-box img {
    width: 18vh;
    height: 15vh;
    
}


                    /********** surcharge css ***********/


:root {
  --notif-text-color: #333;
  --notif-background-color: transparent;
  --notif-date-color: #333;
  --minuteur-text-color: #F7BA4B;
}
:root {
  --gutter-width: 30px;
  --padding-xxs: 5px;
  --padding-xs: 10px;
  --padding-sm: 20px;
  --padding-L:30px;
  --padding-page: 15px;
  --margin-bottom:10px;
  --border-radius:6px;
  --gap-s: 5px;
  --gap-m: 10px;
  --gap-l: 20px;
  --gap-xl: 30px;
}
.body_app{ 
    width: 100%;
    display: grid;
    
}
/* meteo */
.meteo {
  display: flex;
  justify-content: center;
  height: 30vh;
  width: 100%;
  margin-bottom: var(--margin-bottom);
  border-radius: 10px;
  
}

.meteo_sliders {
  display: flex;
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  flex-direction: row;
  gap: var(--gap-s);
  scrollbar-width: thin;
  scrollbar-color: #aaa transparent;
  padding: 20px;
}

.meteo_sliders > img {
  flex: 0 0 auto;
  width: 100vh;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
  scroll-snap-align: start;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  cursor: grab;
  opacity: 0.85;
}

.background_meteo {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 6px;

}

.meteo_widget {
  position: absolute;
}
/* notif */
.notif {
    background: #f0f0f0;
    padding: 5px 20px;
    border-radius: 5px;
    color: var(--notif-text-color);
    background: var(--notif-background-color);
    margin-top: var(--padding-xs);
}

.notif + .notif {
    margin-top: 5px;
}

.notif.-blue {
    --notif-background-color: rgba(0,0,0,0.7);
    --notif-text-color: #fff;
    height: 10vh;
}

.notif.-purple {
    --notif-background-color: rgba(0,0,0,0.7);
    --notif-text-color: white;
    height: 10vh;
}

.notif_content {
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
}

.notif_content_date {
    display: flex;
    flex-direction: column;
}

.notif_content_date .date {
    color: var(--notif-date-color)color(white);
}

.notif.-blue  .notif_content_date .date {
    color: cyan;
}
.notif.-purple .date{
    color: cyan;
}


.page{
    width: 100%;
    padding: 20px;
}
.btn_bleu{
    display: flex;
    justify-content: center;
    border-radius: 6px;
    background-color: #008CFF;
    height: 40px;
    margin: 0px 21px;   
}
.btn_bleu_text{
    color: white;
}
